.DS_Store
main.synctex.gz
main.acn
main.acr
main.alg
main.aux
main.bbl
main.bcf
main.blg
main.fdb_latexmk
main.fls
main.glg
main.glo
main.gls
main.idx
main.ilg
main.ind
main.ist
main.loa
main.lof
main.log
main.lot
main.mtc*
main.pdf
main.run.xml
main.toc
these.todo
